name: "[P] Build Triton 2.2.0 wheels"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Triton wheels
        uses: ./.github/actions/build-triton
        with:
          name: triton-pascal
          patches_version: 2.2.0
          python_version: ${{ matrix.python_version }}
          ref: 0e7b97bd47fc4beb21ae960a516cd9a7ae9bc060

    strategy:
      matrix:
        python_version:
          - "37"
          - "38"
          - "39"
          - "310"
          - "311"
          - "312"

  publish:
    needs: build
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Publish wheels
        uses: ./.github/actions/publish-wheels
        with:
          prefix: triton_pascal-2.2.0-

on:
  workflow_dispatch:
