name: "[X] Build Triton (v3.1.0)"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Triton wheels
        uses: ./.github/actions/build-triton
        with:
          python_version: ${{ matrix.python_version }}
          ref: cf34004b8a67d290a962da166f5aa2fc66751326

    strategy:
      matrix:
        python_version:
          - "38"
          - "39"
          - "310"
          - "311"
          - "312"

  publish:
    needs: build
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Publish wheels
        uses: ./.github/actions/common/publish-wheels
        with:
          prefix: triton_pascal-3.1.0-

  update-index:
    needs: publish
    secrets: inherit
    uses: ./.github/workflows/zz-update-index.yml

    permissions:
      id-token: write
      pages: write

on:
  workflow_dispatch:
